{% extends "base_generic.html" %}

{% block content %}
    <h1>Accounts</h1>
    <div class="row">
      <div class="col s3 light-blue darken-1 white-text z-depth-2 center">
        <span class="flow-text"><a href="{% url 'account-creation' %}" class="white-text">Add an account now!</a></span>
      </div>
    </div>
    <!-- <p><a href="{% url 'account-creation' %}">Click here</a> to add a bank account.</p> -->

    {% if account_list %}
    <ul>

      {% for account in account_list %}
      <li class="{% if account.balance < 0 %}text-danger{% endif %}">
        <a href="{% url 'account-detail' account.pk %}">Account #: {{account.account_number}}</a>  - {{ account.first_name }} {{ account.last_name }} - Current Balance is ${{ account.balance }}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>You currently have no opened accounts with Bank ANL.</p>
    {% endif %}
{% endblock %}
