{% extends "base_generic.html" %}

{% block content %}
    <h1>Cards</h1>
    <div class="row">
      <div class="col s3 light-blue darken-1 white-text z-depth-2 center">
        <span class="flow-text"><a href="{% url 'card-creation' %}" class="white-text">Add a card now!</a></span>
      </div>
    </div>
    <!-- <p><a href="{% url 'card-creation' %}">Click here</a> to add a card to your account(s).</p> -->

    {% if card_list %}
    <ul>
      {% for card in card_list %}
      <li> <!-- class="{% if account.balance < 0 %}text-danger{% endif %}" -->
        <a href="{% url 'card-detail' card.pk %}">Card #: {{card.card_number}}</a> - {{ card.first_name }} {{ card.last_name }} - Expiring on {{ card.expiration_date }}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>You currently have no cards with Bank ANL.</p>
    {% endif %}
{% endblock %}
