{% extends "base_generic.html" %}

{% block content %}
  <h1>Transaction {{ transaction.transaction_id }} ({{ transaction.card.last_name }}, {{ transaction.card.first_name }})</h1>

  <!-- <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Transaction Number:</strong> {{ transaction.transaction_id }}</p>
  <p><strong>Transaction Date:</strong> {{ transaction.transaction_date }}</p>
  <p><strong>Transaction Type:</strong> {{ transaction.type }}</p>
  <p><strong>Transaction Location:</strong> {{ transaction.atm_machine }}</p>
  <p><strong>Account Number:</strong> <a href="{% url 'account-detail' transaction.card.account.pk %}">{{ transaction.card.account.account_number }}</a></p>
  <p><strong>Card Number:</strong> <a href="{% url 'card-detail' transaction.card.pk %}">{{ transaction.card.card_number }}</a></p>

  <!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div> -->
{% endblock %}
