{% extends "base_generic.html" %}

{% block content %}
  <br>
    <div class="container">
      <div class="row">
        <h5 class="center ">Welcome to Bank ANL, a website developed by <em>Group ANL</em>!</h5>
      </div>
      <br><br>
      <div class="row">
        <div class="col s12 light-blue darken-1 white-text z-depth-2 center">
          <span class="flow-text">Available options</span>
        </div>
        <br><br><br>
        <div class="offset-s1 col s10 offset-s1 light-blue darken-1 white-text z-depth-2 center">
          <span class="flow-text"><a href="{% url 'my-accounts' %}" class="white-text">View Accounts</a></span>
        </div>
        <br><br>
        <div class="offset-s1 col s10 offset-s1 light-blue darken-1 white-text z-depth-2 center">
          <span class="flow-text"><a href="{% url 'my-cards' %}" class="white-text">View Cards</a></span>
        </div>
        <br><br>
        <div class="offset-s1 col s10 offset-s1 light-blue darken-1 white-text z-depth-2 center">
          <span class="flow-text"><a href="{% url 'transaction-history' %}" class="white-text">View Transactions</a></span>
        </div>

      </div>
    </div>
{% endblock %}
